{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}
  Songs List | {{block.super}}
{% endblock head_title %}

{% block load %}
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
<script src="{% static "js/rating.js" %}"></script>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
{% endblock load %}

<style type="text/css">
{% block style %}

  .page-header{
    padding-top: 100px;
  }
  #well{
    margin-top: 100px;
    padding-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 100px;
  }
  .thumbnail{
    margin: 10%;
    max-height: 300px;
  }
  #feedbackform{
    padding: 100px;
  }

{% endblock style %}
</style>

{% block content %}
<div class="page-header">
  <h1>Recommended Songs List <small>( List of songs based on our recommendation algorithm ) :</small></h1>
</div>

<script>
    angular.module('ui.bootstrap.demo').config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('{$');
    $interpolateProvider.endSymbol('$}');
    });
</script>
<script type="text/javascript">
  function savefeedbackval(){

    // alert(songid);
    var rate_value=-10;
    var radio;
    // var fval=songid+'f1';
    // alert(fval);

    if(document.getElementById('f1').checked) {
      radio=document.getElementById('f1');
      rate_value = document.getElementById('f1').value;
      radio.checked=false;
    }
    else if(document.getElementById('f2').checked) {
      radio=document.getElementById('f2');
      rate_value = document.getElementById('f2').value;
      radio.checked=false;
    }
    else if(document.getElementById('f3').checked) {
      radio=document.getElementById('f3');
      rate_value = document.getElementById('f3').value;
      radio.checked=false;
    }
    else if(document.getElementById('f4').checked) {
      radio=document.getElementById('f4');
      rate_value = document.getElementById('f4').value;
      radio.checked=false;
    }
    else if(document.getElementById('f5').checked) {
      radio=document.getElementById('f5');
      rate_value = document.getElementById('f5').value;
      radio.checked=false;
    }
   
    else{   }

    alert("You feedback for this item has been stored as: "+rate_value);

    if($('#1').css('display')!='none'){
    $('#2').show().siblings('div').hide();
    }else if($('#2').css('display')!='none'){
        $('#1').show().siblings('div').hide();
    }

  }
  
  function freq(){
    var idList=document.getElementById('distinct').split(" ");
    alert(idList);
    var results = [], item;
    for (var i = 0; i < idList.length; i++) {
        item = document.getElementById(idList[i]);
        if (item) {
            results.push(item);
        }
    }
  }

</script>

<div class="well">
{% for val in SongList %}
<!-- {% cycle "<div class='row'>" "" ""%} -->
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     <!--  <img src="..." alt="..."> -->
      <div class="caption">
        <div class="freq" style="color:#109fff">
          <script type="text/javascript">var i={{forloop.counter}};</script>
          <input id="{{forloop.counter}} distinct"type="text" class="flv" value={{forloop.counter}} readonly ></input>
          <a target="_blank" href="https://www.youtube.com/watch?v=PiJhv5Ic644" class="test" onload="freq()"><h4>{{val.1}}</h4></a>
        </div></br>
        <!--<h5>{{val.2}}</h5>
        <h6>{{val.3}}</h6>-->
        <p>
              <div ng-controller="RatingDemoCtrl">
                <h5>Rating</h5>
                <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{$percent$} %</span></br>
                <pre style="margin:15px 0;">Rate: <b>{$rate$}</b> </pre>
                <div id="valuetoatempvariable" style="display: none;">{{temp}}={$rate$}</div>
               
                <!-- {% with "rate" as temp %}
                <div>{{temp}}</div>
                {% endwith %} -->
                        
                <button class="btn btn-sm btn-danger" ng-click="rate = 0" ng-disabled="isReadonly">Clear</button>
              </div><!-- End of RatingDemoCtrl  -->
              </br>   
        </p>
      </div> <!-- Caption -->
    </div> <!-- Tumbnail -->
  </div> <!--col-sm-6 col-md-4-->
<!-- {% cycle "" "" "</div>" %} -->
{% endfor %}

    <div class="alert alert-info">
      <div class="form-inline" id="feedbackForm">
        <label class="control-label">Please provide the feedback about this recommendation (song) : </label></br>
        <label class="radio">
          <input value="1" id="f1" name="feedback" type="radio">Excellent
        </label></br>
        <label class="radio">
          <input value="2" id="f2" name="feedback" type="radio">Good
        </label></br>                                                                   
        <label class="radio">
          <input value="3" id="f3" name="feedback" type="radio">Satisfied
        </label></br>
        <label class="radio">
          <input value="4" id="f4" name="feedback" type="radio">Un Satisfied
        </label></br>
        <label class="radio">
          <input value="5" id="f5" name="feedback" type="radio">Poor
        </label></br></br>
        <a href="#" class="btn btn-primary" id ="feedbackbutton" role="button" onclick="savefeedbackval()">Feedback</a>
      </div>

      <div id="2" style="display:none;">
        <br/><br/><br/><br/><br/><br/><br/><br/>
        <p><b>Thanks you For the Feedback</b></p>
        <br/><br/><br/><br/><br/><br/><br/><br/>
      </div>
    </div><!-- End of alert alert-info-->
  </div><!-- End of Well -->




{% endblock content %}

