{% extends "base.html" %}

{% block head_title %}
 Users List | {{block.super}}
{% endblock head_title %}

<style type="text/css">
{% block style %}

	.page-header{

			padding-top: 100px;
	}

{% endblock style %}
</style>

{% block content %}
<div class="page-header">
  <h1>USERS LIST <small> (comprehensive detail of all the users available in the systems database ) </small></h1>
</div>

<!-- <ol class="breadcrumb">
{% for i in Object_list %}
  <li><a href="#{{i.name}}">{{i.name}}</a></li>
{% endfor %}
</ol> -->


{% for i in Object_list %} 
 <div class="jumbotron" id="{{i.name}}">
  <div id="{{i.name}}" style="color:#109fff"><h2>{{i.name}}</h2></div><br/>
  {{ i.email}}</br>
  {{ i.password}}</br>
  {{ i.age}}</br>
  {{ i.occupation}}</br>
  {{ i.nationality}}</br>
  {{ i.region}}</br>
  {{ i.gender}}</br>
  {{ i.id}}</br></br>
</div>
  
{% endfor %}

{% endblock content %}